@font-face {
  font-family: 'Halo';
  src: url(/Users/bangoo/portfolio-projects/project/unit-1-project/font/Halo.ttf);
}
@font-face {
  font-family: 'HaloOut';
  src: url(/Users/bangoo/portfolio-projects/project/unit-1-project/font/Halo-Outline.ttf);
}
h1 {
  background: linear-gradient(to bottom, black, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Halo';
  font-weight: bolder;
}
body {
  background-image: url("/Users/bangoo/portfolio-projects/project/unit-1-project/img/backdrop.jpg"), url("/Users/bangoo/portfolio-projects/project/unit-1-project/img/pxfuel.jpg");
  background-size: cover;
  font-family: 'HaloOut';
  font-size: 25px;
  color: black;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  
}

.circle-container {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 120px;
  margin: -60px;
  border-radius: none;
  font-size: 27px;
  text-align: center;
  line-height: 120px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: 'Halo';
}

button img {
  width: 100%;
  height: 100%;
}

#Marine{
  transform: rotate(0deg) translate(340px) rotate(0deg);
}
#Covenant{
  transform: rotate(72deg) translate(322px) rotate(-72deg);
}
#Flood{
  transform: rotate(144deg) translate(340px) rotate(-144deg);
}
#Forerunner{
  transform: rotate(216deg) translate(340px) rotate(-216deg);
}
#Precursor{
  transform: rotate(288deg) translate(340px) rotate(-288deg);

}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24;
  font-family: 'Halo';
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}